= form_for @post, :url => "#{cms_posts_path}/#{@post.id}" do |f|
  - if @post.errors.any?
    #error_explanation.form-errors.bg-danger
      %h4= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :slug
    = f.text_field :slug, class: "form-control"

  .form-group
    = f.label :content
    =render 'cms/pages/wysiwyg'
    #editor.lead
      = @post.content.html_safe rescue ""
    = f.hidden_field :content

  .form-group
    = f.label "Publish Status"
    .radio
      %label
        =f.radio_button :published, true
        published
        &nbsp;&nbsp;
      %label
        =f.radio_button :published, false
        unpublished

  .actions.form-group
    = f.submit 'Save', class: "btn btn-primary"


