= form_for @post, :url => "#{cms_posts_path}/#{@post.id}" do |f|
  - if @post.errors.any?
    #error_explanation.form-errors.bg-danger
      %h4= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :slug
    = f.text_field :slug, class: "form-control"

  .form-group
    = f.label :content


  .editor-wrapper{:role => "tabpanel"}
    
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "Editor", "data-toggle" => "tab", :href => "#editor-tab", :role => "tab"} Editor
      %li{:role => "presentation"}
        %a{"aria-controls" => "HTML", "data-toggle" => "tab", :href => "#html-tab", :role => "tab"} HTML

    .tab-content
      #editor-tab.tab-pane.active{:role => "tabpanel"}
        =render 'cms/shared/wysiwyg'
        #scmsEditor.lead
          = @post.content.html_safe rescue ""

      #html-tab.tab-pane{:role => "tabpanel"}
        = f.text_area :content, size: "160x16", class:"editor-raw form-control"















  .form-group
    = f.label "Publish Status"
    .radio
      %label
        =f.radio_button :published, true
        published
        &nbsp;&nbsp;
      %label
        =f.radio_button :published, false
        unpublished

  .actions.form-group
    = f.submit 'Save', class: "btn btn-primary"


