= form_for @post, :url => "#{cms_posts_path}/#{@post.id}" do |f|
  - if @post.errors.any?
    #error_explanation.form-errors.bg-danger
      %h4= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :slug
    = f.text_field :slug, class: "form-control"

  .form-group
    = f.label :content
    .row
      .col-md-6
        #wmd-button-bar-content
        = f.text_area :content, size: "20x20", class: "wmd-input form-control", id: "wmd-input-content"
      .col-md-6
        #wmd-preview-content.wmd-preview

  .form-group
    = f.label :all_tags, "Tags"
    - @post.tags.each do |tag|
      %span{ :class => "post-tag post-#{tag.name}" }
        = tag.name
      = link_to "(x)", "/cms/tagging/#{@post.id}/#{tag.id}", remote: true, method: :delete, class: "tag-remove"


  .form-group
    = f.label :add_tags, "Add Tags"
    = f.text_field :add_tags, placeholder: "Tags separated with comma", class: "form-control"

  .form-group
    = f.label "Publish Status"
    .radio
      %label
        =f.radio_button :published, true
        published
        &nbsp;&nbsp;
      %label
        =f.radio_button :published, false
        unpublished

  .actions.form-group
    = f.submit 'Save', class: "btn btn-primary"


