%h2  
= form_for @admin, :url => "#{cms_admins_path}/#{@admin.id}" do |f|
  - if @admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error")} prohibited this admin from being saved:"
      %ul
        - @admin.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :email
    = f.text_field :email, class: "form-control"
  
  -#This form can be used to update an admin's own profile
    Only sudo users should see the sudo control. They also shouldn't be able 
    to remove their own sudo capability so don't show it.
  - if current_admin.sudo && current_admin.id != @admin.id
    .form-group
      = f.label "SuperAdmin"
      .radio
        %label
          =f.radio_button :sudo, true
          enabled
          &nbsp;&nbsp;
        %label
          =f.radio_button :sudo, false
          disabled

  .form-group
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off", class: "form-control"
  
  .form-group
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  
  .actions.form-group
    = f.submit 'Save', class: "btn btn-primary"
